<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/6052b6de-ba1d-4a48-b609-85605f5e9b97/resourceGroups/AzureChallenge20221210222013ResourceGroup/providers/Microsoft.Web/sites/AzureChallenge20221210222013</ResourceId>
    <ResourceGroup>AzureChallenge20221210222013ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://azurechallenge20221210222013.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>5cc6085e-a123-4e03-b8c0-c35eaa22ddc9</ProjectGuid>
    <PublishUrl>https://azurechallenge20221210222013.scm.azurewebsites.net/</PublishUrl>
    <UserName>$AzureChallenge20221210222013</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>